@font-face {
  font-family: TravelOctober;
  src: url('./assets/Travel October.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  font-family: TravelOctober;
  user-select: none;
}

body {
  background: linear-gradient(
    to bottom right,
    hsl(29, 70%, 89%),
    hsl(216, 70%, 90%)
  );
}

canvas {
  image-rendering: pixelated;
  width: 768px;
  height: 432px;
}

div {
  display: flex;
  flex-direction: column;
}

.content {
  flex-direction: row;
  width: 100vw;
}

.ui {
  padding: 10px;
  flex: 1;
  gap: 10px;
}

#towers, #enemies {
  display: grid;
  align-self: stretch;
  gap: 10px;
  grid-template-columns: repeat(auto-fill, 180px);
}

.towerImage {
  width: 96px;
  height: 96px;
  background-image: url("assets/spritesheet.png");
  background-size: 768px 768px;
  image-rendering: pixelated;
}

.tower, .enemy {
  align-items: center;
  background-color: hsl(255, 40%, 78%);
  padding: 20px;
  border-radius: 10px;
  border-bottom: 3px solid hsl(267, 20%, 30%);
  transition: ease-out 0.1s;
  cursor: pointer;
}

.tower.selected {
  background-color: hsl(255, 40%, 65%);
}

.tower:hover, .enemy:hover {
  transform: scale(1.02);
  background-color: hsl(255, 40%, 70%);
}

.tower:active, .enemy:active {
  transform: scale(0.98);
  background-color: hsl(255, 40%, 68%);
}

.game {
  flex-direction: column;
}

.games {
  gap: 5px;
  padding: 5px;
  align-items: center;
}

.gameContainer {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.gameUi {
  position: absolute;
  padding: 10px;
  color: #ffffff;
  text-shadow: #000000 2px 2px 0px;
}

.gameUi.right {
  right: 0;
}

.hidden {
  display: none;
}

.usernameForm, .loading {
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.usernameForm .popup {
  width: 200px;
}

.popup {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 24px;
  padding: 20px;
  border-radius: 10px;
  background-color: hsl(288, 10%, 50%);
  color: #ffffff;
}

.textField {
  border: none;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

.button {
  border: none;
  padding: 5px;
  margin: 5px 0px;
  border-radius: 5px;
  font-size: 20px;
  cursor: pointer;
  color: #ffffff;
  background-color: hsl(252, 50%, 20%);
  border-bottom: 2px solid #000000;
  transition: ease-out 0.1s;
}

.button:hover {
  transform: scale(1.02);
  background-color: hsl(252, 50%, 25%);
}

.button:active {
  transform: scale(0.98);
}
